div.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
aside {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #fff;
}

aside .aside-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 1px solid rgba(0,0,0, .0625);
    border-right: 0px;

}
aside .aside-title img {
    height: 40px;
    width: 40px;

}
aside .aside-title h2 {
    font-size: 16px;
    margin-top: 8px;
}
div.menu {
    border-right: 1px solid rgba(0,0,0, .0625);
}
div.menu ul {
    list-style-type: none;
}
div.menu ul li {
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
div.menu ul li svg {
    color: #6e8efb;
    font-size: 25px;
    
}
div.menu ul li a {
    color: #72777a;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;

}
div.menu ul li a:houver {
    color: #4d4d4d;


}

